<!DOCTYPE html>
<html data-ng-app>
<head>
	<title>My first Angular SPA</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<div class="container" data-ng-controller="SimpleController">
		Name: {{name}}
		<br/>
		 <input type="text" data-ng-model="name">


		 <h3>Looping with the ng-repeat directive</h3>
		 <ul>
		 	<li data-ng-repeat="person in people | filter:name | orderBy:'city'">{{person.name}} - {{person.city}}</li>
		 </ul>



	</div>

</body>
</html>