<!DOCTYPE html>
<html data-ng-app>
<head>
	<title>My first Angular SPA</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	
</head>
<body data-ng-init="people = [{name:'Cameron Zaas', city:'Nipomo'}, {name:'Emily Zaas', city:'AG'}, {name:'Liam Zaas', city:'Pismo'}, {name:'Dylan Zaas', city:'San Luis Obispo'}]">

	<div class="container">
		Name: {{name}}
		<br/>
		 <input type="text" data-ng-model="name">


		 <h3>Looping with the ng-repeat directive</h3>
		 <ul>
		 	<li data-ng-repeat="person in people | filter:name | orderBy:'city'">{{person.name}} - {{person.city}}</li>
		 </ul>



	</div>

</body>
</html>